<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://smart-on-fhir-dbwrapper-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b13d394e-7f62-4504-b848-f0671fc40b42/resourceGroups/rg-UvanceHL-HLPF-HealthDataService-Demo/providers/Microsoft.Web/sites/smart-on-fhir-dbwrapper-func</ResourceId>
    <UserName>$smart-on-fhir-dbwrapper-func</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://smart-on-fhir-dbwrapper-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>